.btn-category {
  padding: 0.625rem;
  margin: 0.313rem;
  font-size: 0.938rem;
  background: none;
  border-radius: 0.625rem;
  border: 0.125rem solid var(--color-primary);
  color: var(--color-primary);
}
