.item-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  height: auto;
  width: 100%;
  margin-bottom: 0.625rem;
  box-shadow: rgba(var(--color-secondary-rgb), 0.2) 0 0.5rem 1.5rem;
  border-radius: 0.625rem;
}

.item-menu__img {
  width: 100%;
  height: 15.625rem;
  object-fit: cover;
}

.item-menu__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  padding: 0.625rem;
}

.item-menu__header {
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  border-bottom: 0.0625rem solid var(--color-primary);
  padding: 0.625rem;
}

.item-menu__title {
  font-size: 0.938rem;
}

.item-menu__price {
  font-size: 0.938rem;
  color: var(--color-primary);
  font-weight: 600;
  margin: 0;
}

.item-menu__description {
  font-size: 0.938rem;
  font-weight: 600;
  margin-top: 0.625rem;
  padding: 0.625rem;
}

@media only screen and (min-width: 540px) {
  .item-menu {
    width: 25rem;
  }
}

@media only screen and (min-width: 1024px) {
  .item-menu {
    align-items: flex-start;
    width: 25rem;
    height: 12.5rem;
  }

  .item-menu__img {
    width: 40%;
    height: 12.5rem;
  }

  .item-menu__content {
    width: 60%;
  }
}
