@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");

:root {
  --primary-font: "Rajdhani", Helvetica, sans-serif;
  --base-font-size: 10px;
  --primary-color: #764af1;
  --secondary-color: #959da5;
  --white-color: #ffffff;
  --black-color: #000000;
  --secondary-int-color: 149, 157, 165;
}

* {
  padding: 0;
  margin: 0;
  font-size: var(--base-font-size);
  font-family: var(--primary-font);
  box-sizing: border-box;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  height: 100%;
  width: 100%;
}
